<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Para incluir o viu.js na nossa aplicação(Opção por download): -->
  <!-- O vue.js já está no projeto -->
  <!-- Nossa aplicação "front-end" já está configurada com o framework "vue.js" -->
  <script src="./vue.js"></script>
  <!-- ou -->
  <!-- Para incluir o viu.js na nossa aplicação(Uma das opções por link CDN): -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> -->
  <title>Document</title>

  <style>
    
  </style>
</head>

<!-- Os modificadores são atalhos para determinadas ações corriqueiras nos sistemas -->

<body>
  <!-- Diretiva "v-On": Binding para manipulação de eventos  -->
  <!-- Síntaxe enxuta: "@" -->
  <!-- Diretiva v-bind: Realizando o bind em atributos de tags HTML -->
  <!-- Síntaxe enxuta: ":" -->
  <!-- Diretiva "v-if": "Renderização" condicional de elementos html. Valor atribuído pode ser uma expressão  -->
  <!-- Síntaxe enxuta: " " -->
	<!-- Diretiva "v-show": "Exibição" condicional de elementos html. Valor atribuído pode ser uma expressão
													 Será renderizado(fará parte do DOM), mas poderá ou não ser visível. Controla a 
													 propriedade display do elemento html -->
  <!-- Síntaxe enxuta: " " -->
  <!-- Diretiva "v-html": Permite a injeção de elementos html dentro de outros elementos html
                          É semelhante ao innerHTML do javascript -->
  <!-- Diretiva "v-text": Permite incluir conteúdo dentro de tags html, em formato de texto.
                          É semelhante ao innerText do javascript -->
  <!-- Diretiva "v-once": Faz com que elementos html sejam "renderizados" apenas uma única vêz. -->
  <!-- Diretiva "v-for":  Implementa laços de repetiçao (loop) -->
  <!-- Atributo "Key": Fornece uma identidade para um trecho da tag(código) html 
                       Informa ao vue todos os elementos filhos que devem ser modificados, cfe.o binding -->

  <!-- tag "template" do html5: Muito utilizada para renderizações condicionais e
       para geração de listas. Sua característica particular, ela não é renderizada
       quando a página é carregada no browser(não estará no DOM). Mas ela pode ser
       referenciada e tratada durante a execução do código javascript. -->
  <div id="app">
          <template v-if="saudacao">  <!-- renderização condicional, baseada no valor da variável booleana "saudacao" -->
            <h2>Boas-vindas</h2>
            <p>Conteúdo da tag <strong>template</strong></p>
          </template>    
          
          <!-- <div v-for="n in 10">
            <p>2 x {{n}} = {{2*n}}</p>
          </div> -->
          <!-- ou -->
          <template v-for="n in 10">
            <p>2 x {{n}} = {{2*n}}</p>
          </template>
  </div>

  <script>
    const vm = new Vue({ //Instância do vue. Objeto literal Vue
      el: '#app',
      data: { 
        saudacao: true  
      },
      methods: {
                                                                         
       }     
     })                               
    
  </script>

</body>

</html>